body {
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f2f7fc;
  overflow-y: scroll;
}

.App {
  text-align: center;
  margin: auto;
}

.App-main {
  margin:auto;
  padding: 20px;
  background-color: #f2f7fc;
  min-height: calc(100vh - 140px); /* Ensure content fills the viewport */
  overflow-y: scroll;
}